BOT_TOKEN=token

# Для дебага, при запуске на сервере надо будет убрать
BOT_PROXY=proxy

# IMAP server
IMAP_SERVER=server.ru

# первый технический ящик
IMAP_EMAIL_SR01=box01@mail.ru
IMAP_PASSWORD_SR01=password

# второй технический ящик
IMAP_EMAIL_SR02=box02@mail.ru
IMAP_PASSWORD_SR02=password

# третий технический ящик
IMAP_EMAIL_SR03=box03@mail.ru
IMAP_PASSWORD_SR03=password

# четвертый технический ящик
IMAP_EMAIL_SR04=box04@mail.ru
IMAP_PASSWORD_SR04=password


# Nocodb API токен
NOCODB_API_TOKEN=string

# Сервер Nocodb для работы с API
NOCODB_SERVER=https://server.com

# таблица, которая содержит пользователей
NOCODB_USERS_TABLE_ID=string

# связанная таблица с имейлами
NOCODB_MAILBOXES_TABLE_ID=string

# таблица с группами
NOCODB_CHATS_TABLE_ID=string

# Уровень логирования
LOG_LEVEL=INFO